#x {
  background-color: aqua;
  border: 1px solid;
}
#container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 160px);
  gap: 3px;
}
.big {
  grid-column: span 6;
  grid-row: span 2;
}
.wide {
  grid-column: span 2;
}
.normal {
  grid-column: span 2;
  grid-row: span 2;
}
.small {
  grid-column: span 1;
}
img {
  width: 100%;
  height: 100%;
}
@media (max-width: 576px) {
  #container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
  }
  .wide,
  .small,
  .big,
  .normal {
    grid-row: span 1;
    grid-column: span 1;
  }
}
