.box,
.sidebar {
  background-color: aqua;
}
.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px) 50px 50px;
}
.sidebar {
  grid-row: span 5;
}
.container > :nth-child(11),
.container > :nth-child(12) {
  grid-column: span 3;
}
